[submodule "mortise-commerce"]
	path = mortise-commerce
	url = git@github.com:rymcu/mortise-commerce.git
	branch = master
[submodule "mortise-payment"]
	path = mortise-payment
	url = git@github.com:rymcu/mortise-payment.git
	branch = master
[submodule "mortise-community"]
	path = mortise-community
	url = git@github.com:rymcu/mortise-community.git
	branch = master
[submodule "mortise-im"]
	path = mortise-im
	url = git@github.com:rymcu/mortise-im.git
	branch = master
[submodule "mortise-aiot"]
	path = mortise-aiot
	url = git@github.com:rymcu/mortise-aiot.git
	branch = master
[submodule "mortise-aiot-gateway-mqtt"]
	path = mortise-aiot-gateway-mqtt
	url = git@github.com:rymcu/mortise-aiot-gateway-mqtt.git
	branch = master
[submodule "mortise-ota"]
	path = mortise-ota
	url = git@github.com:rymcu/mortise-ota.git
	branch = master
[submodule "frontend/layers/community"]
	path = frontend/layers/community
	url = git@github.com:rymcu/community.git
[submodule "frontend/layers/admin/community"]
	path = frontend/layers/admin/community
	url = git@github.com:rymcu/admin-community.git
[submodule "frontend/layers/admin/aiot"]
	path = frontend/layers/admin/aiot
	url = git@github.com:rymcu/admin-aiot.git
[submodule "frontend/layers/admin/ota"]
	path = frontend/layers/admin/ota
	url = git@github.com:rymcu/admin-ota.git
