[submodule "mortise-commerce"]
	path = mortise-commerce
	url = git@github.com:rymcu/mortise-commerce.git
	branch = master
[submodule "mortise-payment"]
	path = mortise-payment
	url = git@github.com:rymcu/mortise-payment.git
	branch = master
[submodule "mortise-community"]
	path = mortise-community
	url = git@github.com:rymcu/mortise-community.git
	branch = master
[submodule "mortise-im"]
	path = mortise-im
	url = git@github.com:rymcu/mortise-im.git
	branch = master
[submodule "frontend/layers/community"]
	path = frontend/layers/community
	url = git@github.com:rymcu/community.git        branch = master