services:
  postgresql:
    image: pgvector/pgvector:pg17
    container_name: mortise-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}' ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - ./app/postgresql/data:/var/lib/postgresql/data
      - ./app/postgresql/logs:/var/log/postgresql
      - ./config/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./config/pg_hba.conf:/etc/postgresql/pg_hba.conf
    command:
      - "postgres"
      - "-c"
      - "config_file=/etc/postgresql/postgresql.conf"
  redis:
    image: 'redis:7.0.8'
    container_name: mortise-redis
    restart: unless-stopped
    sysctls:
      - net.core.somaxconn=1024
    ports:
      - "6379:6379"
    volumes:
      - ./app/redis:/data
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    environment:
      TZ: ${TZ}
  logto:
    image: svhd/logto:1.24.1
    container_name: mortise-logto
    restart: unless-stopped
    ports:
      - '3001:3001'
      - '3002:3002'
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      INTEGRATION_TEST: ${LOGTO_INTEGRATION_TEST}
      TRUST_PROXY_HEADER: ${LOGTO_TRUST_PROXY_HEADER}
      DB_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@mortise-postgres:5432/${LOGTO_DB_NAME}
      ENDPOINT: ${LOGTO_ENDPOINT}
      ADMIN_ENDPOINT: ${LOGTO_ADMIN_ENDPOINT}
      # Self-signed certificates require NODE_EXTRA_CA_CERTS to be configured
      NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/logto-rootCA.crt
    # Self-signed certificates need to be added to the container
    volumes:
      - ./config/rootCA.pem:/usr/local/share/ca-certificates/logto-rootCA.crt
    extra_hosts:
      # Map the hostnames to the IP addresses of the host machine
      - "${LOGTO_AUTH_HOST}:${LOGTO_HOST_IP}"
      - "${LOGTO_ADMIN_HOST}:${LOGTO_HOST_IP}"
    entrypoint: ['sh', '-c', 'npm run cli db seed -- --swe && npm start']
  app:
    image: 'nginx:latest'
    container_name: mortise-nginx
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/certs:/etc/nginx/certs
    environment:
      TZ: ${TZ}
