<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.mortise.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.mortise.entity.Dict">
        <id column="id" jdbcType="NUMERIC" property="id"/>
        <result column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="sort_no" jdbcType="NUMERIC" property="sortNo"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <select id="selectByTypeCodeAndValue" resultType="com.rymcu.mortise.entity.Dict">
        select label from mortise_dict where dict_type_code = #{dictTypeCode} and value = #{value}
    </select>
    <select id="selectDictInfo" resultType="com.rymcu.mortise.model.DictInfo">
        select label, value, icon, image, color from mortise_dict where dict_type_code = #{dictTypeCode} and value = #{value}
    </select>
    <select id="selectDictOptions" resultType="com.rymcu.mortise.model.BaseOption">
        select label, value from mortise_dict where dict_type_code = #{dictTypeCode} and del_flag = 0 order by sort_no
    </select>
</mapper>
