<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.mortise.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.mortise.entity.Role">
        <id column="id" jdbcType="INTEGER" property="idRole"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <insert id="insertRoleMenu">
        insert into mortise_role_menu (id_mortise_role, id_mortise_menu) values (#{idRole}, #{idMenu})
    </insert>
    <update id="updateStatusByIdRole">
        update mortise_role set status = #{status} where id = #{idRole}
    </update>
    <update id="updateDelFlag">
        update mortise_role set del_flag = #{delFlag} where id = #{idRole}
    </update>
    <select id="selectRolesByIdUser" resultMap="BaseResultMap">
        select tr.id, tr.label, tr.permission
        from mortise_user_role tur
                 left join mortise_role tr on tur.id_mortise_role = tr.id
        where tur.id_mortise_user = #{idUser}
    </select>
    <select id="selectRoleByPermission" resultMap="BaseResultMap">
        select id, label, permission from mortise_role where permission = #{permission}
    </select>
    <select id="selectRoles" resultMap="BaseResultMap">
        select id, label, permission, status from mortise_role
        <trim prefix="where" prefixOverrides="and">
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </trim>
        <if test="sort != null and sort != ''">
            order by #{sort}
            <if test="order != null and order != ''">
                #{order}
            </if>
        </if>
    </select>
    <select id="selectRoleMenus" resultType="java.lang.Long">
        select id_mortise_menu
        from mortise_role_menu
        where id_mortise_role = #{idRole}
    </select>
</mapper>
