<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.mortise.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.mortise.entity.User">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="real_name" property="realName"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_online_time" property="lastOnlineTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="provider" property="provider"/>
        <result column="open_id" property="openId"/>
    </resultMap>
    <resultMap id="UserInfoMap" type="com.rymcu.mortise.model.UserInfo">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="picture"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_online_time" property="lastOnlineTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="role_names" property="roleNames"/>
    </resultMap>
    <select id="selectUserRolePermissionsByIdUser" resultType="java.lang.String">
        select distinct tr.permission
        from mortise_user_role tur
                 join mortise_role tr on tur.id_mortise_role = tr.id
        where tur.id_mortise_user = #{idUser}
    </select>
</mapper>
